// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p.customer_box1{
  font-size: 20px; font-weight: bold;
  }
p.box1{
  font-size: 20px; font-weight: bold; padding: 80px 80px 10px;
  }

