// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.box{
  width: 400px;
  margin: 10px;
  border: solid 3px #000000;
  background-color: #ffffff;
}
.box11{
  background-image: image-url("top.jpg");
  background-size: cover;
  height: 200px;
  width: 500px;
  margin: 0;
}
.container{
  display: flex;
  justify-content: space-around;
}