// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
p{
  color:black;
}
.box{
  width:400px;
  margin:5em;
  border: solid 3px #000000;
  background-color: #ffffff;
}
.background-image{
  background-image: image-url("top.jpg");
  background-size: cover;
  height: 300px;
  width: 80%;
  margin: 40px;
  
}