  <div class="container">

    <%= form_with model:@genre,url:admin_genre_path,local:true do |f| %>

        <h4>ジャンル編集</h4>
      <div class="row">


        <div class="col-md-2 ml-1">
          <%= f.label :name,'ジャンル名' %>
        </div>
        <div class="col-md-2 ml-auto">
          <%= f.text_field:name %>
        </div>


        <div class="col-md-2 ml-auto">
          <%= f.submit"変更を保存",class:'btn btn-success' %>
        </div>
        <div class="col-md-4 ml-auto"></div>

      </div>
    <% end %>
  </div>