// Place all the styles related to the admin/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.test{
  font-size:20px;
  background-color:silver;
  text-align:center;
}
.test3{
  color:green;
  font-weight:bold;
}
.test4{
  text-decoration: underline;
  color: black;
}