// Place all the styles related to the admin/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.test{
  font-size:20px;
  background-color:silver;
  text-align:center;
}