<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8 mt-5"></div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8 mt-5">
      <font size="5"><b>ご注文ありがとうございました！</b></font>
    </div>
  </div>
</div>